<!--


       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333



  This is the default "403: Forbidden" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/403.js`

  You can trigger this response from one of your controllers or policies with:
  `return res.forbidden( msg );`
  (where `msg` is an optional error message to include in the response)




-->
<html>

<head>
	<title>Forbidden</title>
	<link href='http://sailsjs.org/styles/fonts.css' rel='stylesheet' />
	<style>
		/* Styles included inline since you'll probably be deleting or replacing this page anyway */

		html,
		body {
			text-align: left;
			font-size: 1em
		}

		html,
		body,
		img,
		form,
		textarea,
		input,
		fieldset,
		div,
		p,
		div,
		ul,
		li,
		ol,
		dl,
		dt,
		dd,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		pre,
		code {
			margin: 0;
			padding: 0
		}

		ul,
		li {
			list-style: none
		}

		img {
			display: block
		}

		a img {
			border: 0
		}

		a {
			text-decoration: none;
			font-weight: normal;
			font-family: inherit
		}

		*:active,
		*:focus {
			outline: 0;
			-moz-outline-style: none
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		h7 {
			font-weight: normal;
			font-size: 1em
		}

		.clearfix:after {
			clear: both;
			content: ".";
			display: block;
			font-size: 0;
			height: 0;
			line-height: 0;
			visibility: hidden
		}

		.page .ocean {
			background: url('http://sailsjs.com/images/waves.png') #0c8da0 no-repeat center 0;
			height: 315px
		}

		.page .ocean img {
			margin-right: auto;
			margin-left: auto
		}

		.page .waves {
			display: block;
			padding-top: 25px;
			margin-right: auto;
			margin-left: auto
		}

		.page .main {
			display: block;
			margin-top: 90px
		}

		.page .logo {
			width: 150px;
			margin-top: 3.5em;
			margin-left: auto;
			margin-right: auto
		}

		.page .fishy {
			display: block;
			padding-top: 100px
		}

		.page .help {
			padding-top: 2em
		}

		.page h1 {
			font-family: "Open Sans", "Myriad Pro", Arial, sans-serif;
			font-weight: bold;
			font-size: 1.7em;
			color: #001c20;
			text-align: center
		}

		.page h2 {
			font-family: "Open Sans", "Myriad Pro", Arial, sans-serif;
			font-weight: 300;
			font-size: 1.5em;
			color: #001c20;
			text-align: center
		}

		.page p {
			font-family: "Open Sans", "Myriad Pro", Arial, sans-serif;
			font-size: 1.25em;
			color: #001c20;
			text-align: center
		}

		.page a {
			color: #118798
		}

		.page a:hover {
			color: #b1eef7
		}
	</style>
</head>

<body>
	<style>
		.navBar {
			background-color: '#F79569';
			margin-top: 13px;
		}

		.navBarIcon {
			background-color: '#FFF';
		}

		.headerCustomBorder {
			border-bottom: 1px solid #EAE9E9;
		}

		.navBarStyle {
			background-color: #FFFFFF;
		}

		.navbar-fixed-top {
			position: fixed;
			right: 0;
			left: 0;
			z-index: 1030;
		}

		@media (min-width: 768px) {
			.navbar-fixed-bottom,
			.navbar-fixed-top {
				border-radius: 0;
			}
		}

		.navbar {
			position: relative;
			min-height: 50px;
			margin-bottom: 0px;
			border: 1px solid transparent;
		}

		.headerCustomBorder {
			border-bottom: 1px solid #EAE9E9;
		}

		.navbar-fixed-top {
			top: 0;
			border-width: 0 0 1px;
		}

		.header-text {
			font-family: Pangram-Light !important;
			color: #7D7D7D !important;
			font-size: 15pt !important;
			letter-spacing: 3pt;
			vertical-align: middle;
		}

		body {
			font-family: Pangram-Light !important;
			color: #7D7D7D !important;
			background-color: #a7a0a014 !important;
			font-size: 12pt !important;
		}

		@font-face {
			font-family: Pangram-Light;
			src: url('/fonts/pangram/Pangram-Light.ttf');
		}

		@font-face {
			font-family: Pangram-Bold;
			src: url('/fonts/pangram/Pangram-Bold.ttf');
		}

		@font-face {
			font-family: Pangram-Regular;
			src: url('/fonts/pangram/Pangram-Regular.ttf');
		}

		footer {
			/* margin-top: 30px; */
			padding: 15px;
			background-color: #fff;
		}

		footer {
			display: block;
			left: 0;
			bottom: 0;
			width: 100%;
		}

		.terms-of-use {
			float: right;
		}

		.session-background {
			background-image: url(/images/Inverse_Logo.png);
			background-color: #FFFFFF;
			background-size: cover;
			background-position: center center;
			background-attachment: fixed;
			min-height: 88vh;
		}

		.containerWrapper {
			padding-top: 20px;
			border-left: 0px solid #EAE9E9;
			border-right: 0px solid #EAE9E9;
			background-color: transparent;
			min-height: 66vh;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		.body-section {
			margin-top: 0px;
		}

		.page-not-found {
			font-size: 40px;
			color: #737373;
			text-align: center;
			font-family: Pangram-Bold;
		}
	</style>

	<nav class="navbar navbar-light navbar-fixed-top navBarStyle headerCustomBorder">
		<div class="container">
			<div class="navbar-header">
				<div style="float:left">
					<img class="header-logo" src="/images/Triumph_Logo.png" alt="Triumph Logo" />
				</div>
				<div class="logo-caption">
					<span class="header-text">TRIUMPH</span>
					<span class="logo-tagline">Actualize Potential. Live Joyously.</span>
				</div>

				<button type="button" class="navbar-toggle" data-toggle="collapsenavBar" data-target="#myNavbar">
					<span class="icon-bar navBarIcon"></span>
					<span class="icon-bar navBarIcon>" </span>
						<span class="icon-bar navBarIcon"></span>
				</button>

			</div>

		</div>
	</nav>
	<div class="session-background body-section">
		<div class='container containerWrapper'>
			<div class="sessionContainer">

				<div class="page-not-found">
					<% if (typeof error !== 'undefined') { %>
						<%= error %>
					<% } 
					else { %>
						You don't have permission to see the page you're trying to reach.
						<br/>
						<br/>
					<% } %>
				</div>

			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="footer container">
			<span>© 2016-2018 RCCI Group</span>
			<div class="terms-of-use">
				<span style="margin-right:15px">
					<a target='_blank' href='https://www.triumphhq.com/terms-of-use/'>Terms of Use</a>
				</span>
				<span>
					<a target='_blank' href='https://www.triumphhq.com/privacy-policy/'>Privacy Policy</a>
				</span>
			</div>
		</div>
	</footer>

</body>

</html>