<!--


       444444444       000000000            444444444
      4::::::::4     00:::::::::00         4::::::::4
     4:::::::::4   00:::::::::::::00      4:::::::::4
    4::::44::::4  0:::::::000:::::::0    4::::44::::4
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4
          4::::4  0::::::0   0::::::0          4::::4
          4::::4  0:::::::000:::::::0          4::::4
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444



  This is the default "404: Not Found" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/404.js`

  Sails considers a request to be in a "404: Not Found" state when a user
  requests a URL which doesn't match any of your app's routes or blueprints.

  You can also trigger this response from one of your controllers or policies with:
  `return res.notFound();`


-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
<style>
	.navBar {
		background-color: '#F79569';
		margin-top: 13px;
	}

	.navBarIcon {
		background-color: '#FFF';
	}

	.headerCustomBorder {
		border-bottom: 1px solid #EAE9E9;
	}

	.navBarStyle {
		background-color: #FFFFFF;
	}

	.navbar-fixed-top {
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
	}

	@media (min-width: 768px) {
		.navbar-fixed-bottom,
		.navbar-fixed-top {
			border-radius: 0;
		}
	}

	.navbar {
		position: relative;
		min-height: 50px;
		margin-bottom: 0px;
		border: 1px solid transparent;
	}

	.headerCustomBorder {
		border-bottom: 1px solid #EAE9E9;
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.header-text {
		font-family: Pangram-Light !important;
		color: #7D7D7D !important;
		font-size: 15pt !important;
		letter-spacing: 3pt;
		vertical-align: middle;
	}

	body {
		font-family: Pangram-Light !important;
		color: #7D7D7D !important;
		background-color: #a7a0a014 !important;
		font-size: 12pt !important;
	}

	@font-face {
		font-family: Pangram-Light;
		src: url('/fonts/pangram/Pangram-Light.ttf');
	}

	@font-face {
		font-family: Pangram-Bold;
		src: url('/fonts/pangram/Pangram-Bold.ttf');
	}

	@font-face {
		font-family: Pangram-Regular;
		src: url('/fonts/pangram/Pangram-Regular.ttf');
	}

	footer {
		/* margin-top: 30px; */
		padding: 15px;
		background-color: #fff;
	}

	footer {
		display: block;
		left: 0;
		bottom: 0;
		width: 100%;
	}

	.terms-of-use {
		float: right;
	}

	.session-background {
		background-image: url(/images/Inverse_Logo.png);
		background-color: #FFFFFF;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
		min-height: 88vh;
	}

	.containerWrapper {
		padding-top: 20px;
		border-left: 0px solid #EAE9E9;
		border-right: 0px solid #EAE9E9;
		background-color: transparent;
		min-height: 66vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.body-section {
		margin-top: 0px;
	}

	.page-not-found {
		font-size: 40px;
		color: #737373;
		text-align: center;
		font-family: Pangram-Bold;
	}
</style>

<nav class="navbar navbar-light navbar-fixed-top navBarStyle headerCustomBorder">
	<div class="container">
		<div class="navbar-header">
			<div style="float:left">
				<img class="header-logo" src="/images/Triumph_Logo.png" alt="Triumph Logo" />
			</div>
			<div class="logo-caption">
				<span class="header-text">TRIUMPH</span>
				<span class="logo-tagline">Actualize Potential. Live Joyously.</span>
			</div>

			<button type="button" class="navbar-toggle" data-toggle="collapsenavBar" data-target="#myNavbar">
				<span class="icon-bar navBarIcon"></span>
				<span class="icon-bar navBarIcon>" </span>
					<span class="icon-bar navBarIcon"></span>
			</button>

		</div>

	</div>
</nav>
<div class="session-background body-section">
	<div class='container containerWrapper'>
		<div class="sessionContainer">

			<div class="page-not-found">PAGE NOT FOUND</div>

		</div>
	</div>
</div>
<footer id="footer">
	<div class="footer container">
		<span>© 2016-2018 RCCI Group</span>
		<div class="terms-of-use">
			<span style="margin-right:15px">
				<a target='_blank' href='https://www.triumphhq.com/terms-of-use/'>Terms of Use</a>
			</span>
			<span>
				<a target='_blank' href='https://www.triumphhq.com/privacy-policy/'>Privacy Policy</a>
			</span>
		</div>
	</div>
</footer>