.question-container{
    text-align:center;
    color:#fff;
}

.tips-section-title{
    font-size:17px;
    font-family:Pangram-Regular;
    line-height: 30px;
}

.tips {
    color: #fff !important;
}

.radio-container{
    font-size: 15px;
    padding: 10px 10px 20px 10px;
}

.tips-container{
    padding: 0 20px 0 20px;
}

.question-title {
    font-size:18px;
    font-family:Pangram-Regular;
    padding:25px;
    padding-bottom:10px;
    color: #737373;
}

input.input-radio {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
}

.openEndedQuestions input.input-radio {
    border: 2px solid #8a8781;
}

.emostateAssessment input.input-radio {
    border: 2px solid #fff;
}

 input.input-radio:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    margin: 3px auto;
    border-radius: 50%;
}

.openEndedQuestions input.input-radio:checked:before {
    background: #fff;
}

input.feedback-radio:checked:before, .emostateAssessment input.input-radio:checked:before {
    background: #AECF7A;
}

.openEndedQuestions input.input-radio:checked {
    border-color:#8a8781;
}
.emostateAssessment input.input-radio:checked {
    border-color:#fff;
}

input.input-radio-question {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
}

.openEndedQuestions input.input-radio-question {
    border: 2px solid #FAB95E;
}

.emostateAssessment input.input-radio-question {
    border: 2px solid #1EB0D8;
}

input.input-radio-question:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    margin: 3px auto;
    border-radius: 50%;
}

input.feedback-radio:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    margin: 3px auto;
    border-radius: 50%;
}

.openEndedQuestions input.input-radio-question:checked:before {
    background: #8a8781;
}

.emostateAssessment input.input-radio-question:checked:before {
    background: #AECF7A;
}

.openEndedQuestions input.input-radio-question:checked {
  border-color:#FAB95E;
}

.emostateAssessment input.input-radio-question:checked {
    border-color:#1EB0D8;
}

.openEndedQuestions .tips-section{
    background-color: #FAB95E;
    padding:20px;
    margin-left: 5px;
    margin-right: 5px;
}

.emostateAssessment .tips-section{
    background-color: #1EB0D8;
    padding:20px;
    border-radius: 15px;
}

.questions-section{
    background-color: #f6f6f6;
    padding:0px !important;
    border-radius:15px;
    margin-top:30px;
}

.input-radio{
    margin-left:20px !important;
    margin-right:20px !important;
}
.radio-div{
    width:75px;
    display:inline-table;
}

.radio-div.first , .radio-div.last {
    width:90px !important;
}

.emostateAssessment .radio-caption{
    color:#1EB0D8
}

.openEndedQuestions .radio-caption{
    color:#8a8781
}

.submit-button {
    margin-top:30px;
    margin-bottom:20px;
    text-align:center;
}

.sub-button {
    border-radius:10px !important;
    padding: 0px !important;
    width: 180px;
    height: 40px;
    font-size:20px !important;
}

.sub-button:hover , .sub-button:focus {
    color:#fff !important;
}

.bottom-div {
    height:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}

.openEndedQuestions .sub-button {
    color: #fff;
    background-color: #FAB95E;
}

.openEndedQuestions .bottom-div {
    background-color:#FAB95E;
}

.emostateAssessment .sub-button {
    color: #fff;
    background-color: #1EB0D8;
}

.emostateAssessment .bottom-div {
    background-color:#1EB0D8;
}

.aspirationalValueAssessment .bottom-div {
    background-color:#AECF7A;
}

.sensitiveValueAssessment .bottom-div {
    background-color:#ed7499;
}

.openEndedQuestions .assessment-intro {
    background-color: #FAB95E;
    padding:20px;
    margin: 20px 0 20px 0;
    border-radius: 15px;
}

.openEndedQuestions .data-dimension-text-response {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    border: 1px solid #fab95e;
    border-radius: 10px;
    padding: 10px;
    min-height: 100px;
    color: #737373;
    resize: none;
}

.openEndedQuestions .scroll-div {
    min-height: 290px;
}

.emostateAssessment .assessment-intro {
    background-color: #1EB0D8;
    padding:20px;
    margin: 20px 0 20px 0;
    border-radius: 15px;
}

.aspirationalValueAssessment .assessment-intro {
    background-color: #AECF7A;
    padding:20px;
    margin: 20px 0 20px 0;
}

.sensitiveValueAssessment .assessment-intro {
    background-color: #ed7499;
    padding:20px;
    margin: 20px 0 20px 0;
}

.assessment-intro-title {
    text-align:center;
    font-family:Pangram-Bold;
    font-size:22px;
    color: #fff;
}

.assessment-intro-text {
    color: #fff;
    padding:10px 30px 10px 30px;
    text-align:justify;
    font-size:16px;
    line-height: 30px;
}

.assessment-intro-text b {
    color: #FFF !important;
}

.text-container {
    padding: 20px;
}

.value-input {
    width:90%;
    margin:10px;
    text-align:left !important;
    padding: 15px 20px 15px 20px;
    border-radius: 7px;
    border-width: 0px;
    color: #4a4747;
    background-color: #FFF !important;
}

.value-question-title {
    font-size:25px;
    font-family:Pangram-Light;
    padding-top:20px;
    color: #b6b7b7;
    text-align:center;
    margin-top:20px;
}

.value-selection-div {
    width:90%;
    margin: 10px;
    background-color: #fff !important;
    margin:10px;
    text-align:left !important;
    padding: 15px 20px 15px 20px;
    border-radius: 7px;
    border-width: 0px;
    color: #4a4747;
    margin: 10px auto;
}

.question-container input::placeholder {
    color: #c1bbbb;
}

.value-selection-div::placeholder {
    color: #c1bbbb;
}

.aspirationalValueAssessment .sub-button {
    color: #fff;
    background-color: #AECF7A;
}

.sensitiveValueAssessment .sub-button {
    color: #fff;
    background-color: #ed7499;
}

#myModalLabel {
    color: #AECF7A !important;
}

#myModalSensitiveLabel {
    color: #ed7499 !important;
}

#myModal b{
    color: #AECF7A !important;
}

#myModalSensitive b{
    color: #ed7499 !important;
}

input.radioGroups {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    outline: none;
    border: 2px solid #8a8781 ;
}

input.radioGroups:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    margin: 2px auto;
    border-radius: 50%;
}

input.radioGroups:checked:before {
    background: #AECF7A ;
}

input.radioGroups:checked {
    border-color:#8a8781 ;
}

.emostate-values-bg img {
   width:150px;
}

.emostate-values-bg p {
   margin-top: 20px;
}

.progress-indicator {
   margin:0px auto;
   background-color: #fff;
   width: 100%;
   /* position: fixed; */
   z-index: 1;
   top: 40px;
   max-width: 1170px;
   margin-top: 10px;
}

.indicator-section {
   margin: 20px 10px 20px 10px;
   text-align:center;
}

.sectionbar {
   align-items: center;
   display:flex;
   width:15%;
   margin-top: -15px;
}

.filled {
   background-color: #AECF7A ;
   height: 5px;
}

.unfilled {
   height: 5px;
   background-color: #e2e2e2 ;
}

.full {
   width: 100%;
}

.half {
   width:50%
}

.circle {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin: auto;
}

.green {
   background-color: #AECF7A ;
}

.grey {
   background-color: #e2e2e2 ;
}
.white-tick {
   /* background-image: url('/images/White_Tick.png'); */
   display:none;
}

.img-tick {
   width:40px;
}

.grey-gap {
    width:100%;
    height:20px;
    background-color: #f8f7f7;
    display:none;
}

footer a {
    color: #7D7D7D
}

footer div {
    float: right;
}

footer {
    padding-top: 30px;
}

.logo-caption {
    float:left;
    margin: 7px auto;
    display: block;
}

.logo-tagline {
    display: block;
    font-size: 12px;
}

.indent {
    text-indent:35px;
}

.negative {
    color:#D93826;
}

.positive {
    color:#8ABA3F;
}

.mobile {
    display:none;
}

/* Media Query for mobile optimization */

@media only screen and (max-width: 620px) {

    .desktop {
        display:none;
    }

    .mobile {
        display:block;
    }

    .logo-caption {
        max-width: 293px;
    }

    footer {
        text-align: center;
        line-height: 2
    }

    footer div {
        float: none;
    }

    .radio-div{
        width: 60px;
    }

    .radio-div.first , .radio-div.last {
        width:60px !important;
    }

    .radio-caption{
        font-size: 12px;
    }

    .sectionbar {
        margin-top: -30px;
    }

    .indicator-section {
        font-size: 12px;
    }

    .circle {
        width: 25px;
        height: 25px;
    }

    .img-tick {
        width:25px;
    }

    .assessment-intro {
        padding: 15px 20px !important;
    }

    .assessment-intro-title {
        font-size: 19px !important;
    }

    .assessment-intro-text {
        padding: 10px !important;
        font-size: 16px !important;
    }
}

/* For iPhone 6/7/8 devices */

@media only screen and (max-width: 490px) {

    .question-title {
        font-size: 15px;
    }

    .radio-container {
        padding-top: 10px;
    }

    .radio-div{
        width: 50px;
    }

    .radio-div.first , .radio-div.last {
        width:50px !important;
    }

    .openEndedQuestions .scroll-div {
        min-height: 30px;
    }
}

@media only screen and (max-width: 410px) {

    .radio-div{
        width: 40px;
    }

    .radio-div.first , .radio-div.last {
        width:40px !important;
    }
}

/* For iPhone SE devices */

@media only screen and (max-width: 370px) {

    .radio-div{
        width: 35px;
    }

    .radio-div.first , .radio-div.last {
        width:35px !important;
    }
}