.nav>li>a {
    cursor: pointer;
    color: #737373;
}

.nav>li>a:hover {
    background-color: #FFFFFF !important;
}

strong {
    font-family: Pangram-Bold;
}

ol li {
    margin-bottom: 12px;
}

.headerCustomBorder {
    border-bottom: 1px solid #EAE9E9;
}

.containerWrapper {
    padding-top: 20px;
    border-left: 1px solid #EAE9E9;
    border-right: 1px solid #EAE9E9;
    background-color: #FFFFFF;
    min-height: 94vh;
}

.logo-caption {
    float: left;
    margin: 7px auto;
    display: block;
}

.logo-tagline {
    display: block;
    font-size: 12px;
}

.body-section {
    margin-top:60px;
}

:link:focus, :visited:focus, input:focus , button:focus {
    outline: none;
}

.innerContainer {
    max-width:850px;
    margin: 0 auto;
    padding: 25px 0;
}

.sessionContainer {
    max-width:850px;
    margin: 0 auto;
    padding: 5px 0;
}

.header-text-container {
    float: left;
    margin: 7px auto;
    display: block
}

.header-title {
    font-family: Pangram-Light;
    color: #7d7d7d;
    font-size: 15pt;
    letter-spacing: 0.5pt;
    vertical-align: middle
}

.header-tagline {
    display: block;
    font-family: Pangram-Light;
    color: #7d7d7d;
    font-size: 14px;
}

.container-padding {
    padding: 40px;
}

.sidebar .menu-items {
    padding:15px;
    text-align: center;
    cursor: pointer;
}

.sidebar {
    border: 1px solid #d2d0d0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #EAE9E9
}

.sidebar hr {
    border-top: 1px solid #EAE9E9;
    margin: 0 auto !important
}

.mainSection {
    padding-left: 40px
}

.mainSectionTitle{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size:25px
}

.custom-date-input {
    border: 1px solid #F79569;
    border-radius: 5px;
    height: 30px;
    background-color: #ffffff !important;
}

@media (max-width: 993px) {
    
    .header-tagline {
        font-size: 11px !important;
    }

    .mainSection {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .mainSectionTitle{
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .mobile-container {
        padding: 0px !important;
    }
    .nav>li>a {
        border-top: 0.5px solid #f6f6f6;
    }
    .header-text-container {
        margin-top: 18px;
    }
    .header-title {
        font-size: 13pt;
    }
    .header-tagline {
        display: none;
    }
    .container-padding {
        padding: 20px 15px !important;
    }
    #mobile-widget-wrapper {
        flex-wrap: wrap !important;
        max-width: 100% !important;
    }
    #widget-menu-container {
        width: 100% !important;
        margin: 0px 15px;
    }
    #widget-list-container {
        width: auto !important;
    }        
}

@media (min-width: 768px) {
    .navbar-nav {
        float: right;
        margin: 0px;
        padding: 5px;
    }
}



