@font-face {
    font-family: Pangram-Light;
    src: url('/fonts/pangram/Pangram-Light.ttf');
}

@font-face {
    font-family: Pangram-Bold;
    src: url('/fonts/pangram/Pangram-Bold.ttf');
}

@font-face {
    font-family: Pangram-Regular;
    src: url('/fonts/pangram/Pangram-Regular.ttf');
}

@font-face {
    font-family: OpenSans-SemiBoldItalic;
    src: url('/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf');
}

@font-face {
    font-family: Niconne-Regular;
    src: url('/fonts/Niconne/Niconne-Regular.ttf');
}

body {
    font-family: Pangram-Light !important;
    color: #7D7D7D !important;
    font-size: 12pt !important;
}

.session-background {
    /* background-image: url("/images/Inverse_Logo.png"); */
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height:94vh;
    background-color: #FFF5ED
}

.navBarStyle {
    background-color: #FFFFFF
}

.header-logo {
    height: 60px;
}

.header-text {
    font-family: Pangram-Light !important;
    color: #7D7D7D !important;
    font-size: 15pt !important;
    letter-spacing: 3pt;
    vertical-align: middle;
}

.page-header {
    border-bottom: none !important;
    margin-bottom: 0px !important;
}

h3,h4,b {
    font-family: Pangram-Bold !important;
    color: #F79569 !important;
}

button, input:focus, textarea:focus {
    outline:0px !important;
    -webkit-appearance:none;
}

::placeholder {
    color: #c1bbbb !important;
}

.transparent-button {
    border: 1px solid #F79569 !important;
    color: #F79569;
    background-color: #ffffff;
    padding: 0px !important;
    width: 80px;
    height: 30px;
}

footer {
    /* margin-top: 30px; */
    padding: 15px;
    background-color: #ffffff;
    border-top: 1px solid #EAE9E9
}

.terms-of-use {
    float:right;
}

footer div {
    float:none;
}

.footer {
    max-width: 1170px;
    margin:auto;
}
/* -- Intro Page -- */

.inputForm {
    background-color: #FFFFFF;
    padding: 150px 100px;
    overflow: hidden;
}

.inputForm p {
    color: #7D7D7D;
}

.whiteButton {
    background-color: #ffffff;
    color: #F79569 ;
    border-radius: 10px !important;
    border-color:#F79569 !important;
    font-size: 12pt !important;
    margin-top: 15px;
}

.whiteButton:hover {
    color: #F79569 !important;
}

.startButton {
    color : #FFFFFF;
    font-family: 'Pangram-Bold';
    font-size: 14pt;
    margin-bottom: 30px;
}

input[type='text'] {
    text-align: center;
    background-color: #a7a0a014;
}

.login-section .submit, .button-submit{
    color: #F79569;
    font-size: 20px;
    border: 1px solid #F79569;
    border-radius: 10px;
    padding:5px 20px;
    margin:20px 5px;
    background-color: #fff;
}

.login-section input {
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    height: 45px;
    width: 400px;
    color: #4a4747;
    text-align: center;
    background-color: #a7a0a014;
    margin: 10px 5px;
}

.login-section-container {
    background-color: #fff;
    border-radius: 10px;
    padding:10px;
    max-width: 550px;
    margin: 0 auto;
}

.login-section {
    text-align:center;
    color:#7d7d7d;
}

.login-section .submit {
    font-size:18px;
}

.login-section-heading {
    margin-top:15px;
    margin-bottom: 20px;
}

.table-curved {
    border-collapse: separate;
    border: 1px solid #d2d0d0;
    border-radius: 10px;
    border-left: 0px;
}

.table-curved td, .table-curved th {
    border-left: 1px solid #d2d0d0;
    border-top: 1px solid #d2d0d0;
    padding: 10px
}

.table-curved th {
    border-top: none;
}

.table-curved th:first-child {
    border-radius: 10px 0 0 0;
}

.table-curved th:last-child {
    border-radius: 0 10px 0 0;
}

.table-curved th:only-child{
    border-radius: 10px 10px 0 0;
}

.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.table-curved tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.custom-toggleBtn.react-toggle--checked .react-toggle-track {
    background-color: #AECF7A;
}

.custom-toggleBtn .react-toggle-track,
.custom-toggleBtn.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #7D7D7D;
}

.custom-toggleBtn.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #abd275;
}

.custom-toggleBtn.react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #a0ce57;
    -moz-box-shadow: 0px 0px 3px 2px #a0ce57;
    box-shadow: 0px 0px 2px 3px #a0ce57;
    border-color: #abd275;
}
  
.custom-toggleBtn.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #a0ce57;
    -moz-box-shadow: 0px 0px 5px 5px #a0ce57;
    box-shadow: 0px 0px 5px 5px #a0ce57;
    border-color: #abd275;
}

.custom-toggleBtn.react-toggle--checked .react-toggle-thumb {
    border-color: #abd275;
}

@media only screen and (max-width:767px) {

    .modal-input input, .login-section input {
        min-height: 45px;
        width:100%;
        max-width:400px;
    }

    .login-section-container {
        margin: 10px
    }
}

@media only screen and (max-width: 450px) {

    .terms-of-use {
        float: none
    }
}